#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
display: flex;
min-height: 100vh;
align-items: center;
justify-content: center;
}

.form{
  max-width: 24rem;
  margin-inline: auto;
}

.label
{
  display:block;
  margin-bottom:  0.625rem = 10px ;
  font-size:  0.875rem;
  line-height:  calc(1.25 / 0.875);
  
}

.input {
    border-style: var(--tw-border-style);
    border-width: 1px;
    font-size: 0.875rem = 14px;
    line-height: calc(1.25 / 0.875);
    display: block;
    padding-inline: 0.625rem;
    padding-block: 0.5rem;
    width: 100%;
}

@property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid;
}